@{
    ViewBag.Title = "Index";
}

<h2>Database Examples</h2>

<div class="bs-callout bs-callout-info">
    <h4><a href="@Url.Action("Index", "Paginable")">Pagination Example</a></h4>
    In this example, we will take a look at how pagination is handled as a first class citizen in our domain model.
</div>

<div class="bs-callout bs-callout-info">
    <h4><a href="@Url.Action("Index", "Searchable")">Pagination + Search Example</a></h4>
    In this example, we will see how the minimum changes required to added searching to our domain model.
</div>